@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Oswald:600,700');

/*

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Open Sans', sans-serif;

    #00b8e8 - синий
    #6a6a6a - темный
    #999 - серый
contaienr 1180
 */
 *{
     padding: 0;
     margin: 0;
}
h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #6a6a6a;
}

p{
    
    font-family: 'Source Sans Pro', sans-serif;
    
    margin: 0;
    padding: 0;
    color:#999;
}
 /*  НАВИГАЦИЯ */
nav {
    position: fixed;
    width: 100%;
    height: 84px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.7); /* Параметры тени */
    padding: 10px;
    z-index: 100;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.nav-flex-cont {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: #58595c;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    transition: all 1s ease;
}
.logo:hover{
    opacity: 0.7;
}
.logo::before {
    content: '';
    background-color: #63b7e6;
    display: inline-block;
    height: 35px;
    width: 3px;
    position: absolute;
    top:0;
    left:-5px;
}

.logo::after {
    content: '';
    position: absolute;
    top: 5px;
    background-color: #63b7e6;
    display: inline-block;
    height: 3px;
    width: 35px;
    left: -10px;
}

nav .container ul {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0;
}

nav .container ul li {
    display: inline-block;
}
ul li a {
    display: block;
    margin: 5px;
    padding: 10px 15px;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

}

nav .container ul li a:hover {
    background: #00b8e8;
    border-radius: 50px 50px 50px 50px;
    color: #fff;
}
.active{
  background: #00b8e8;
  border-radius: 50px 50px 50px 50px;
  color: #fff;
}
/* ХИРО СЕКЦИЯ */
/*  */

.hero{
    width: 100%;
    height: 100vh;
    background-color: #00b8e8;
}
.flex-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.hero-title h1{
    padding-top:35%;
    padding-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
}
.hero-title h1::after{
    content:'';
    display: inline-block;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 150px);
    width: 300px;
    height: 2px;
    background: #fff;
}
.hero-title p{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size:20px;
    font-weight: 500;
    justify-content: center;
    padding-left:30%;
}
p i{ /*сердечко*/
    margin-left: 5px;
    color:red;
    transition: all 2s ease;
}
p i:hover{
    color:#E720A1;
    transform: rotate(360deg)
}
.hero-title a{
    text-decoration: none;
    padding: 20px 45px;
    background-color: #fff;
    color:#63b7e6;
    border-radius: 10px;
    position: relative;
    left: 33%;
    top: 80px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    transition: box-shadow 1s ease;
}
.hero-title a:hover{
   
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.flex-hero img{
    position: absolute;
    bottom: 0px;
    border-radius: 3% 3% 0 0;
    filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(150deg) saturate(3.5);
    transition: filter 2s;
}
.flex-hero img:hover{
    filter: none;
}
/* О НАС */
.about-us{
    width: 100%;
    height: 100%;
}
.skills-cont{
    display: flex;
    justify-content: space-between;
}
.skill-item{
    display: flex;
    width: 300px;
    height: 240px;
    margin-top: 120px;
    margin-bottom: 95px;
    margin-right:5px;   
    margin-left: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skill-item i{
    color:#6a6a6a;
    font-size: 25px;
}
.skill-item h2{
    font-size: 18px;
    letter-spacing: 2px;

}
.skill-item p{
    line-height: 1.3;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
/*  2 секция */
.about-us-second{
    width: 100%;
    height: 100%;
    background-color: #f4f5f9;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-maket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 970px;
    width: 573px;
    margin-left:18px;
    margin-right: 16px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.about-maket img{
    height: 400px;
    width: 570px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.about-maket .maket-title{
    height: 395px;
    width: 570px;
    padding-top: 11%;
}
.about-maket .maket-title h2{
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
    position: relative;
}
.maket-title h2::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background: #999;
}
.about-maket .maket-title p{
    padding-top: 40px;
    line-height: 30px;
    width: 510px;
}
.flex-about .about-maket:nth-child(2){
    flex-direction: column-reverse;
}
.flex-about .about-maket:nth-child(2) .maket-title{
    padding-top: 0;
    padding-left: 23%;
}
.about-us-rating {
    background-color: #00b8e8;
}
.flex-rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-rating{
    width: 375px;
    height: 275px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 15px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.block-rating i{
    font-size:50px;
    color:#6a6a6a;
    margin-top: 17%;
}
.block-rating span{
    color:#00b8e8;
    font-size: 26px;
    margin-top: 10%;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.block-rating p{
    font-size: 15px;
    color:#999;
    margin-top: 5%;
}

/* МЕДИА ЗАПРОСЫ */
@media only screen and (max-width: 1200px) {
    .container {width: 1000px;}
   }
@media only screen and (max-width: 1000px) {
    .container {width: 800px;}
   }
